/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
@import url("https://use.typekit.net/jmk3xov.css");

body {
  min-width: 100vw;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

a {
  color: snow;
  text-decoration: none; /* no underline */
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  min-width: 100vw;
  color: white;
  z-index: 99;
  height: 100%;
  position: absolute;
  /* width: 100vw; */
  /* max-width: 100%; */
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  /* font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal; */
  font-family: tomarik-display-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

header,
section {
  border: 10px solid;
  border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
}

header:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  background-color: rgb(92, 160, 223);
  background-color: snow;
  color: black;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: snow;
  background-color: black;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

/* .projects-layout {
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
} */

.projects-layout {
  display: grid;
  gap: 1.5em;
  padding: 1em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.projects-layout div {
  padding: 0.5em;
  border: white 2px solid;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-layout div:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.2s ease-in-out;
  border: white 0.5px solid;
}

.purpose p {
  font-size: 2rem;
  color: snow;
}

.social {
  grid-column: 2/11;
}

.form {
  grid-column: 2/12;
}

.form h2 {
  font-family: tomarik-display-shadow, sans-serif;
}

label,
input {
  display: block;
}

/*  media queries .................  */

@media only screen and (max-width: 1020px) {
  h1 {
    font-size: 90%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 65%;
  }
  p {
    font-size: 80%;
  }
  .purpose p {
    font-size: 1rem;
    color: snow;
  }
  header {
    padding: 1rem;
  }
}
